{% extends "base.html" %}
{% block nav_title %} Company Batches {% endblock nav_title %}
{% block content %}

      {% for obj in object_list %}
          <a class="href-nostyle" href={% url 'todo:list' cid=obj.company.id%} >
              <div class="jumbotron" style="background:white">
                  <div class="text-center">
                      <h1>{{ obj.company }}<br>
                          <small>{{ obj.job }}</small>
                      </h1>
                  </div>
              </div>
          </a>
      {% endfor %}
{% endblock content %}